@use './variables' as *;

@mixin dflex($option : 'center'){
    display: flex;
    align-items: center;
    @if ($option == 'center'){
        justify-content: center;
    }
    @else if ($option == 'between'){
        justify-content: space-between;
    }
}
@mixin myText($size : 1rem,$weight : normal){
    color: $white;
    font-size: $size;
    font-weight: $weight;
    text-transform: uppercase;
}