@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$fa-font-path : "./partials/webfonts";
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
.my-container{
    max-width: 1170px;
    margin: auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}